*~
*.egg-info
*.sw[opnlm]

.DS_Store
.coverage
.cache
.vscode
.idea
package-lock.json
npm-debug.log
vf2e.config.js
app.js
logConf.json

/node_modules
/build
/dist
/.profile
/.eslintrc
/.eslintignore
output
checkDepend/checkJson
checkDepend/submitJson

snapshot
stdin
stdout
*#

/mock
